* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Zona Pro';
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

/* Header seris */
#header {
    display: flex;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__nav-toggler {
    font-size: 20px;
}

.header__itmes {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
}

.header__itmes a:hover {
    color: #5E1543;
}

.header__item-1 {
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
}

.header__right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__number {
    cursor: pointer;
    background: #006157;
    border-radius: 10.7607px;
    padding: 17px 22px 17px 22px;
}

.header__number span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__number-info {
    font-weight: 700;
    font-size: 14.3476px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
}

.header__info {
    padding-top: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
}

.header__langs-btn {
    position: relative;
}

.header__right-languch button {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
    cursor: pointer;
}

.header__langs-btn:hover .header__langs-list {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
    pointer-events: auto;
    z-index: 2;
    background: #fff;
    /* pointer-events: auto;
     */
}

.header__right-languch i {
    font-size: 10px;
    transform: translateX(5px);
}

.header__list-item {
    padding: 5px 20px;
    transition: 0.3s;
}

.header__list-item:hover {
    background-color: #d8f0ee;
}

.header__langs-list {
    top: 130%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 2px solid #006157;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: 500ms;
}

.header__nav-togglo {
    display: none;
}

.header__mobile-nav {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 10;
    padding: 25px 32px;
    transition: all 0.7s;
}

#nav__togglo {
    position: relative;
    z-index: 999;
}

#nav__togglo:checked+.header__mobile-nav {
    left: 0;
}

.header__nav-close {
    font-size: 25px;
    color: #006157;
}

.header__mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
    font-size: 20px;
}



/* Footer seris */
.footer__wrapper {
    background: #1A6D64;
    padding: 51px 0;
}

.footer__main {
    display: flex;
    padding: 5px 110px;
    justify-content: space-around;
}


.footer__main-pero p {
    width: 400px;
    height: 74px;
    font-weight: 400;
    font-size: 15.286px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding: 31px 0 21px 0;
}

.footer__pero-web {
    gap: 35px;
}

.footer__pero-web i {
    color: #FFFFFF;
    margin: 50px 22px 0 0;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__pero-web i:hover {
    transform: rotate(540deg);
}

.footer__company-items h3 {
    font-weight: 600;
    font-size: 19.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__company-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 6px 0;
}

.footer__terms-items h3 {
    font-weight: 600;
    font-size: 22.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__terms-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 5px 0;
}

.footer__contact-items h3 {
    font-weight: 600;
    font-size: 22.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__contact-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 5px 0;
}

.footer__wrap-button {
    background: #FFFFFF;
    padding: 33px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.footer__button-abba {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #3A896A;
}


/* Finesh DESCTOP */
@media (max-width: 1460px) {
    .product {
        max-width: 100%;
    }

    .product__feather-1 {
        display: none;
    }

    .wrapper {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .prodict__img {
        display: none;
    }

    .product__card-4 {
        display: block;
    }

    .product__card-right,
    .product__card-left {
        display: none;
    }

    .product__card-all {
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .prodcut__dowland {
        flex-wrap: wrap;
    }

    .pero__main>img {
        display: none;
    }

    .pero__moree-title {
        display: none;
    }
}

@media (max-width: 1320px) {
    .container {
        max-width: 90vw;
    }

    .product__feather-1 {
        display: none;
        background: red;
    }

    .header__number {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header__item a {
        font-size: 14px;
    }

    .header__nav-togglo {
        display: block;
    }

    .header__item {
        display: none;
    }

    #header {
        justify-content: space-between;
    }
}