/* :root{
    --main-green
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Zona Pro';
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

/* Header seris */
#header {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__nav-toggler {
    font-size: 20px;
}

.header__itmes {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
}

.header__itmes a:hover {
    color: #5E1543;
}

.header__item-1 {
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
}

.header__right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__number {
    cursor: pointer;
    background: #006157;
    border-radius: 10.7607px;
    padding: 17px 22px 17px 22px;
}

.header__number span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__number-info {
    font-weight: 700;
    font-size: 14.3476px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
}

.header__info {
    padding-top: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
}

.header__langs-btn {
    position: relative;
}

.header__right-languch button {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #121212;
    cursor: pointer;
}

.header__langs-btn:hover .header__langs-list {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
    pointer-events: auto;
    z-index: 2;
    background: #fff;
    /* pointer-events: auto;
     */
}

.header__right-languch i {
    font-size: 10px;
    transform: translateX(5px);
}

.header__list-item {
    padding: 5px 20px;
    transition: 0.3s;
}

.header__list-item:hover {
    background-color: #d8f0ee;
}

.header__langs-list {
    top: 130%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 2px solid #006157;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: 500ms;
}

.header__nav-togglo {
    display: none;
}

.header__mobile-nav {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 10;
    padding: 25px 32px;
    transition: all 0.7s;
}

#nav__togglo {
    position: relative;
    z-index: 999;
}

#nav__togglo:checked+.header__mobile-nav {
    left: 0;
}

.header__nav-close {
    font-size: 25px;
    color: #006157;
}

.header__mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
    font-size: 20px;
}

/* Main seris */
.main {
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 124px 0;
    align-items: center;
    position: relative;
    background-image: url(../img/main-section-bg.png);
}

.main__image-1 {
    height: 615.14px;
    width: 289.85px;
    position: relative;
}

.main__image-bum {
    width: 110%;
    position: absolute;
    z-index: 1;
}

.main__image-2 {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 19.62%, rgba(255, 255, 255, 0) 95.57%);
    width: 155.38px;
    height: 100%;
    z-index: 1;
    left: -7px;
}

.main__image-3 img {
    width: 100%;
    transform: scale(1.03);
    position: absolute;
    top: 0;
    left: 0;
}

.main__image-3 {
    height: 547.58px;
    width: 950px;
    position: relative;
    overflow: hidden;
    transform: translate(-24px, -2px);
}

.main__chenger {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 16px;
    cursor: pointer;
}

.main__chenger-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.main__chenger img {
    width: 44px;
    height: 52px;
}

.manin__content-wrapper {
    position: relative;
    z-index: 1;
}

.main__content {
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 29px;
}

.main__content-title {
    padding: 153px 0 0 80px;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
    color: #006259;
    mix-blend-mode: normal;
}

.main__content-text {
    padding: 0 0 0 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #006259;
    mix-blend-mode: normal;
    width: 550px;
    height: 148px;
}

.main__hend {
    position: absolute;
    right: 0px;
    width: 588.84px;
    height: 700px;
}

.main__image-3 .main__feather-1 {
    width: 150px;
    height: 130px;
    left: 27%;
    top: 7%;
}

.main__image-3 .main__feather-2 {
    width: 214px;
    height: 190px;
    left: 51%;
    top: 43%;
    transform: rotate(358deg);
}

.main__image-3 .main__feather-3 {
    width: 350px;
    height: 290px;
    left: 7%;
    top: 52%;
    transform: rotate(5deg);
}

.main__image-3 .main__feather-4 {
    width: 135px;
    height: 95px;
    left: 70%;
    top: 76%;
    transform: rotate(5deg);
}

.main__feather-2 {
    width: 179.89px;
    height: 147.13px;
}

.main__feather-3 {
    width: 179.89px;
    height: 147.13px;
}

.main__feather-4 {
    width: 179.89px;
    height: 147.13px;
}


/* Our-products seris */
.product {
    padding: 75px 0;
    text-align: center;
    color: #fff;
    background: #006157;
}

.product__title {
    font-weight: 700;
    font-size: 52.2487px;
    line-height: 64px;
    color: #FFE5CE;
    margin-bottom: 11px;
}

.product__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.product__feather-1 {
    position: absolute;
    width: 135px;
    height: 180px;
    margin-top: 20px;
    transform: rotate(61deg);
    left: 24%;
    top: -65%;
}

.product__feather-2 {
    position: absolute;
    width: 114px;
    height: 140px;
    margin-top: 20px;
    transform: rotate(11deg);
    left: -11%;
    top: -36%;
}

.product__feather-3 {
    position: absolute;
    width: 334px;
    height: 400px;
    margin-top: 20px;
    transform: rotate(357deg);
    left: 1%;
    top: 46%;
}

.product__feather-4 {
    position: absolute;
    width: 279px;
    height: 310px;
    margin-top: 20px;
    transform: rotate(183deg);
    left: 84%;
    top: -1%;
    opacity: 0.7;
}

.product__feather-5 {
    position: absolute;
    width: 90px;
    height: 100px;
    margin-top: 20px;
    transform: rotate(68deg);
    left: 78%;
    top: 102%;
}

.product__text {
    font-weight: 400;
    font-size: 15.6801px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.product__card {
    cursor: pointer;
    padding: 20px 10px;
    flex-direction: column;
    display: flex;
    background-color: #FFE1C7;
    border-radius: 23px;
    gap: 20px;
    transition: all 0.3s;
}

.product__card:hover {
    transform: scale(1.1);
}

.product__card-title {
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #006157;
    width: 154px;
    height: 50px;
    transform: translateX(25px);
}

.product__card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.product__card-botton {
    font-weight: 600;
    font-size: 6.50187px;
    line-height: 10px;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.25;
}

.product__card-left {
    background: #5B9993;
    border-radius: 50%;
    padding: 7px;
    line-height: 7px;
    cursor: pointer;
}

.product__card-left img {
    transition: all 0.4s;

}

.product__card-right img {
    transition: all 0.4s;

}

.product__card-left:hover,
.product__card-left img:hover {
    background: #5B9993;
    border-radius: 100%;
}

.product__card-left img:hover {
    transform: scale(1.5);
}

.product__card-right {
    cursor: pointer;
    background: #5B9993;
    border-radius: 50%;
    padding: 7px;
    line-height: 7px;
    transform: rotate(180deg);
}

.product__card-right:hover,
.product__card-right img:hover {
    background: #5B9993;
    border-radius: 100%;
    transition: 0.3s;
}

.product__card-right img:hover {
    transform: scale(1.5);
}


.prodcut__dowland {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 35px;
}

.prodcut__dowland-catalog a {
    background: #2D8D80;
    border-radius: 15.2059px;
    width: 243px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #006157;
    gap: 10px;
    transition: 0.3s;
}

.prodcut__dowland-catalog a:hover {
    transform: scale(1.1);
}

.prodcut__dowland-tovar a {
    background: #2D8D80;
    border-radius: 15.2059px;
    width: 243px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #006157;
    gap: 5px;
    transition: 0.3s;
}

.prodcut__dowland-tovar a:hover {
    transform: scale(1.1);
}

/* Pero seris */
.pero {
    background: #288DC6;
    padding: 100px 0;
    position: relative;
}

.pero__feather-1 {
    position: absolute;
    width: 200px;
    height: 260px;
    margin-top: 20px;
    transform: rotate(107deg);
    left: 22%;
    top: 61%;
}

.pero__feather-2 {
    position: absolute;
    width: 402px;
    height: 372px;
    margin-top: 20px;
    transform: rotate(11deg);
    left: 2%;
    top: -1%;
    opacity: 1;
}

.pero__feather-3 {
    position: absolute;
    width: 270px;
    height: 343px;
    margin-top: 20px;
    transform: rotate(133deg);
    left: 70%;
    top: 0%;
}

.pero__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pero__our-title {
    font-weight: 700;
    font-size: 75.2306px;
    line-height: 74px;
    text-transform: uppercase;
    color: #FFE1C7;
}

.pero__our-title span {
    display: flex;
}

.pero__our-text {
    font-weight: 400;
    font-size: 17.8571px;
    line-height: 27px;
    color: #FFE1C7;
    width: 321px;
    height: 161px;
    margin-top: 15px;
}

.pero__main-img img {
    height: 450px;
}

.pero__our-moree {
    margin-left: 50px;
}

.pero__moree-title {
    font-weight: 700;
    font-size: 75.2306px;
    line-height: 74px;
    text-align: right;
    color: #FFE1C7;
    margin-top: 200px;
}

.pero__moree-title span {
    display: flex;
    justify-content: end;
}

.pero__moree-btn {
    cursor: pointer;
    background: #FFC898;
    border-radius: 84.6758px;
    padding: 17px 60px;
    color: #1C7197;
    transform: translateX(80px);
    margin-top: 28px;
    transition: all 0.3s;
    border: solid 1px #1C7197;
}

.pero__moree-btn:hover {
    border: solid 1px #Fff;
    color: #FFf;
    background-color: #288DC6;
}

.pero__main-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFC898;
    padding-top: 117px;
    padding-bottom: 12px;
    border-bottom: 4px solid #FFC898;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Our-videos seris */
.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #972525;
    padding: 100px 0;
    z-index: 10;
    position: relative;
}

.videos__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.videos__main-title {
    font-weight: 700;
    font-size: 52.2487px;
    line-height: 64px;
    color: #FFE2CA;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.videos__main-text {
    font-weight: 400;
    font-size: 15.6801px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 11px 0 75px 0;
}

.videos__main-catalog {
    position: relative;
    display: flex;
    gap: 45px;
    align-items: center;
    background: #f9f9f927;
    border-radius: 60.9344px;
    padding: 70px 90px;
}

.videos__catalog-1 {
    background: #D9D9D9;
    opacity: 0.2;
    border-radius: 16px;
    width: 260px;
    height: 150px;
}

.videos__catalog-2 {
    background: #FFE2CA;
    border-radius: 25px;
    width: 340px;
    height: 190px;
}

.videos__catalog-3 {
    background: #D9D9D9;
    opacity: 0.2;
    border-radius: 16px;
    width: 260px;
    height: 150px;
}

.videos__card-left {
    position: absolute;
    left: 0;
    transform: translateX(-30px);
    cursor: pointer;
    background: #d9d9d96d;
    border-radius: 50%;
    padding: 12px;
    line-height: 7px;
}

.videos__card-left img {
    transition: all 0.3s;
}

.videos__card-left:hover img {
    transform: scalE(1.2);
}

.videos__card-right {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background: #d9d9d96d;
    border-radius: 50%;
    padding: 12px;
    line-height: 10px;
    right: 0;
    transform: translateX(30px);
}

.videos__card-right img {
    transition: all 0.3s;
}

.videos__card-right:hover img {
    transform: scalE(1.2);
}

.videos__main-btn {
    margin-top: 75px;
    background: #DC4848;
    border-radius: 15.2059px;
    width: 243.99px;
    height: 47px;
    display: flex;
    justify-content: center;
    border: #006157;
    font-weight: 400;
    font-size: 10.6415px;
    line-height: 12px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    transition: 0.3s;
}

.videos__main-btn img {
    padding-right: 10px;
}

.videos__main-btn a {
    display: flex;
    align-items: center;
}

.videos__main-btn:hover {
    transform: scale(1.1);
}

.vidyeos__feather-1 {
    position: absolute;
    width: 194px;
    height: 159px;
    opacity: 0.8;
    top: -4%;
    left: 13%;
    transform: rotate(55.02deg);
}

.vidyeos__feather-2 {
    position: absolute;
    width: 350px;
    height: 366px;
    opacity: 1;
    top: 59%;
    left: -28%;
    transform: rotate(356deg);
}

.vidyeos__feather-3 {
    position: absolute;
    width: 334px;
    height: 400px;
    margin-top: 20px;
    transform: rotate(357deg);
    left: -15%;
    top: 31%;
}

.vidyeos__feather-4 {
    position: absolute;
    width: 279px;
    height: 310px;
    margin-top: 20px;
    transform: rotate(183deg);
    left: 84%;
    top: -79%;
    opacity: 0.7;
}

.vidyeos__feather-5 {
    position: absolute;
    width: 90px;
    height: 100px;
    margin-top: 20px;
    transform: rotate(68deg);
    left: 79%;
    top: 104%;


}

/* Blog-post seris */
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #082856;
    padding: 236px 0;
}

.blog__main-btn {
    position: absolute;
    width: 240px;
    height: 70px;
    background: #F2F2F2;
    border-radius: 100.766px;
    font-weight: 700;
    font-size: 19.9716px;
    line-height: 33px;
    color: #101D30;
    left: 29%;
    top: 62%;
    cursor: pointer;
    transition: 0.3s;
}

.blog__main-btn:hover {
    transform: scale(1.1);
}

.blog__main {
    position: relative;
}

.blog__main-1 {
    position: absolute;
    background-image: url(../img/vlajni-bjjj.png);
    background-repeat: no-repeat;
    overflow: auto;
    width: 370px;
    height: 236px;
    z-index: 3;
    top: -78%;
    left: 14%;
    transform: rotate(-11.26deg);
    box-shadow: 1px 0px 5px 0px rgba(10, 1, 1, 0.134);
}

.main__text-1 {
    position: absolute;
    font-weight: 400;
    font-size: 13.9283px;
    line-height: 14px;
    text-align: center;
    color: #16283F;
    width: 275.73px;
    height: 43px;
    transform: rotate(-1.87deg);
    bottom: 24%;
    left: 10%;
}

.main__img-1 {
    position: absolute;
    left: 20%;
    bottom: 44%;
    transform: rotate(-13.79deg);
}

.blog__main-2 {
    position: absolute;
    background-image: url(../img/vlajni-bjjj.png);
    background-repeat: no-repeat;
    width: 362px;
    height: 229px;
    top: -44%;
    left: 32%;
    z-index: 2;
    transform: rotate(13deg);
    box-shadow: 1px 0px 5px 0px rgb(10 1 1 / 15%);

}

.main__img-2 {
    position: absolute;
    transform: rotate(350deg);
    width: 57%;
    left: 21%;
    top: 14%;
}

.main__text-2 {
    position: absolute;
    font-weight: 400;
    font-size: 13.9283px;
    line-height: 14px;
    text-align: center;
    color: #16283F;
    transform: rotate(2.74deg);
    width: 258.73px;
    height: 43px;
    top: 69%;
    left: 13%;
}

.blog__main-3 {
    position: absolute;
    background-image: url(../img/vlajni-bjjj.png);
    background-repeat: no-repeat;
    width: 370px;
    height: 237px;
    left: 21%;
    top: -12%;
    box-shadow: 7px 0px 25px 0px rgb(33 32 32 / 85%);

}

.main__img-3 {
    position: absolute;
    width: 196.19px;
    height: 100.9px;
    left: 22%;
    top: 22%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.34) 19.62%, rgba(255, 255, 255, 0) 95.57%);
}

.main__text-3 {
    position: absolute;
    font-weight: 400;
    font-size: 13.9283px;
    line-height: 14px;
    text-align: center;
    color: #16283F;
    width: 266px;
    height: 43px;
    left: 10%;
    top: 68%;
}

.blog__rahmat-1 {
    position: absolute;
    width: 183px;
    height: 140px;
    left: -59%;
    top: -35%;
    opacity: 0.7;
}

.blog__rahmat-2 {
    position: absolute;
    width: 350px;
    height: 340px;
    left: 115%;
    top: -24%;
}

.blog__rahmat-3 {
    position: absolute;
    width: 320px;
    height: 300px;
    left: -90%;
    top: 38%;
    transform: rotate(221deg);
}

.blog__main-title {
    position: absolute;

    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFC898;
    padding-top: 117px;
    padding-bottom: 12px;
    border-bottom: 4px solid #FFC898;
    width: 330px;
    left: 20%;
}

.blog__box-bj {
    position: absolute;
    bottom: -99px;
    left: -107%;
    border-radius: 50%;
    width: 1800px;
    height: 231.49px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.15;
    filter: blur(40.8511px);
}

/* Contact seris */
.contact {
    background: #006157;
    display: flex;
    justify-content: center;
    padding: 100px 0;

}

.contact__wrap {
    position: relative;
}

.contact__wrap-main {
    display: flex;
}

.contact__main-left {
    display: flex;
    flex-direction: column;
}

.contact__main-left h1 {
    font-weight: 700;
    font-size: 49.1881px;
    line-height: 60px;
    color: #FFE5CE;
}

.contact__main-left p {
    font-weight: 400;
    font-size: 14.7616px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 9px 0 33px 0;
}

.contact__main-left span {
    display: flex;
}

.contact__main-lable {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
}

.contact__main-lable input {
    background: #FFFFFF;
    border: 1.7px solid #3A896A;
    border-radius: 17px;
    padding: 25px 100px 25px 30px;
    font-weight: 400;
    font-size: 21.0417px;
    line-height: 25px;
    color: #006157;
}

.contact__main-lable textarea {
    background: #FFFFFF;
    border-radius: 17px;
    padding: 25px 90px 25px 30px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    border: 1.75347px solid #006157;
}

.contact__info-bnt {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    cursor: pointer;
}

.contact__info-bnt a {
    background: #2D8D80;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160.67px;
    height: 38.53px;
    font-weight: 400;
    font-size: 18.8537px;
    line-height: 10px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    transition: all 0.3s;
}

.contact__info-bnt img {
    padding-left: 15px;
}

.contact__info-bnt a:hover {
    transform: scale(1.1);
}

.contact__main-right {
    padding-left: 50px;

}

.contact__main-right {
    background-image: url(../img/pero__bj.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact__main-right h1 {
    font-weight: 400;
    font-size: 49.1881px;
    line-height: 60px;
    color: #FFE5CE;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.contact__main-right span {
    display: flex;
    margin-left: 140px;
    font-weight: 400;
    font-size: 11.865px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.8;
}

.contact_rahmat-1 {
    position: absolute;
    left: -16%;
    top: 58%;
}

.contact_rahmat-2 {
    position: absolute;
    left: 102%;
    top: -5%;
    opacity: 0.6;
    transform: rotate(171deg);
}

.contact_rahmat-3 {
    position: absolute;
    left: 113%;
    top: 69%;
    transform: rotate(71deg);
}

.contact_rahmat-4 {
    position: absolute;
    left: -13%;
    top: 13%;
}


/* Footer seris */
.footer__wrapper {
    background: #1A6D64;
    padding: 51px 0;
}

.footer__main {
    display: flex;
    padding: 5px 110px;
    justify-content: space-around;
}


.footer__main-pero p {
    width: 400px;
    height: 74px;
    font-weight: 400;
    font-size: 15.286px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding: 31px 0 21px 0;
}

.footer__pero-web {
    gap: 35px;
}

.footer__pero-web i {
    color: #FFFFFF;
    margin: 50px 22px 0 0;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__pero-web i:hover {
    transform: rotate(540deg);
}

.footer__company-items h3 {
    font-weight: 600;
    font-size: 19.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__company-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 6px 0;
}

.footer__terms-items h3 {
    font-weight: 600;
    font-size: 22.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__terms-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 5px 0;
}

.footer__contact-items h3 {
    font-weight: 600;
    font-size: 22.5321px;
    line-height: 153.99%;
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.footer__contact-item {
    font-weight: 400;
    font-size: 15.286px;
    line-height: 182.99%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 5px 0;
}

.footer__wrap-button {
    background: #FFFFFF;
    padding: 33px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.footer__button-abba {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #3A896A;
}

/* Finesh DESCTOP */

@media (max-width: 1460px) {
    .product{
        max-width: 100%;
    }
    .product__feather-1 {
        display: none;
    }
}

@media (max-width: 1320px) {
    .container {
        max-width: 90vw;
    }

    /* product */
    .product__feather-1 {
        display: none;
        background: red;
    }
}

@media (max-width: 1250px) {
    .header__number {
        display: none;
    }

    .header__nav-toggler {
        display: none;
    }
}

@media (max-width: 1056px) {
    .header__item a {
        font-size: 14px;
    }

    .header__nav-togglo {
        display: block;
    }
}

@media (max-width: 1056px) {
    .header__item {
        display: none;
    }

    #header {
        justify-content: space-between;
    }
}