body {
    font-family: 'Zona Pro';
}

/* Blog-post seris star */
#blog-post {
    background: #016258;
}

.blog-post__high {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 270px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.blog-post__title h1 {
    font-family: 'Zona Pro';
    font-weight: 700;
    font-size: 52.2487px;
    line-height: 64px;
    color: #FFE5CE;
}

.blog-post__home {
    margin-top: 23px;
}

.blog-post__home a {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15.6801px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
}

.blog-post__home span {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15.6801px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
}

.blog-post__update button {
    cursor: pointer;
    width: 239px;
    height: 43px;
    background: #FFE5CE;
    opacity: 0.9;
    border-radius: 10px;
    font-family: 'Zona Pro';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #006259;
}

.blog-post__cards {
    display: flex;
    justify-content: center;
    gap: 37px;
}

.swiper {
    padding-bottom: 200px;
    height: 800px;
}

.blog-post__card {
    padding: 18px 16px;
    background: #FFF2E7;
    border-radius: 8.83838px;
    width: 266.92px;
    height: 308.32px;
    transition: 0.3s;
    margin-bottom: 37px;
}

.blog-post__card:hover {
    box-shadow: 0px 16px 37.0721px rgba(255, 242, 231, 0.58);

}

.blog-post__title h3 {
    font-family: 'Zona Pro';
    font-weight: 400;
    font-size: 13.5931px;
    line-height: 20px;
    color: #016258;
    width: 160px;
}

.blog-card__button {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.blog-card-left {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;

}

.blog-card-left img {
    width: 16px;
}

.blog-card-left span {
    font-family: 'Zona Pro';
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #747474;
}

.blog-right__btn {
    cursor: pointer;
    width: 90px;
    height: 31.36px;
    background: #016258;
    border-radius: 4.94295px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: 0, 3s;
}

.blog-right__btn span {
    font-family: 'Zona Pro';
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 10px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.3s;
}

.blog-right__btn img {
    transition: 0.3s;
}

.blog-right__btn:hover img {
    transform: translateX(6px);
}

.swiper-slide {
    background: #016258;
    border-radius: 6.45098px;
}

.blog-post__wrap {
    position: relative;
    padding-bottom: 30px;
}

.swiper-pagination-bullet {
    width: 40.55px !important;
    height: 43px !important;
    background: #F9E0C8 !important;
    border-radius: 6.45098px !important;
    line-height: 40px !important;
    font-family: 'Zona Pro';
    font-weight: 700;
    font-size: 27.6471px;
    text-align: center;
    color: #176B62;
}

.swiper-slide__left img {
    position: absolute;
    z-index: 10;
    bottom: 39px;
    left: 36%;
}

.swiper-slide__right img {
    position: absolute;
    z-index: 10;
    bottom: 39px;
    right: 36%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 200px;
}

.blog-post__1 img {
    z-index: 10;
    position: absolute;
    top: 0%;
    left: 2%;
    width: 175.68px;
    height: 179.24px;
    transform: rotate(348deg);
}

.blog-post__2 img {
    z-index: 10;
    position: absolute;
    transform: rotate(112deg);
    width: 246.36px;
    height: 258.76px;
    top: 10%;
    right: -25%;
}
.blog-post__3 img{
    z-index: 10;
    position: absolute;
    transform: rotate(299deg);
    width: 251.36px;
    height: 290.76px;
    top: 37%;
    left: -8%;       
}
.blog-post__4 img{
    position: absolute;
    z-index: 10;
    top: 21%;
    left: -4%;
}
.blog-post__5 img{
    position: absolute;
    z-index: 10;
    bottom: 39%;
    right: 5%;
    transform: rotate(66deg);
}
/* Blog-post seris end */